#nav {
  width: 100vw;
  min-height: 48px;
}

.navBar {
  width: 100vw;
  min-height: 48px;
  position: fixed;
  top: 0;
}


.login-signup {
  position: absolute;
  width: 25px;
  right: 165px;
  top: 5px;
  font-size: 25px;
}

.login-signup:hover {
  cursor: pointer;
}

span {
  padding: 0;
  margin: 0 10px 0;
}