#nav {
  width: 100vw;
  min-height: 48px;
}

#avatar-container {
  float: right;
}

.login-signup {
  position: absolute;
  width: 25px;
  right: 165px;
  top: 5px;
  font-size: 25px;
}

span {
  padding: 0;
  margin: 0 10px 0;
}